body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #000;
}

td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}
.Heading-Orange {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	color: #DF872C;
	font-weight: bold;
}
.parragraph {
	font-size: 9px;
	color: #000;
}
.parragraph_Larger {
	font-size: 14px;
	color: #000;
}
.link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #662941;
	text-align: center;
}
.Link {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 12px;
	color: #603;
}
.Burgondy_Heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #86234C;
}
.White_Heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #fffef2;
}
.White_small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: plain;
	color: #FFFFFF;
}
.Grey_small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	font-style: italic;
	color: #666666;
}
.Brown_Heading-Italic {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	color: #472B0A;
}
.Brown_Heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #472B0A;
}
.White_Heading_13pt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}
.parragraph-Itallic {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
	font-style: italic;
}
.instruction {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	font-style: normal;
	text-decoration: none;
}
.instruction_white {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	font-style: normal;
	text-decoration: none;
}
.grey_italic_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: italic;
	color: #666;
}
.parragraph {
	font-size: 12px;
}
.parragraph {
	font-size: 12px;
}
.parragraph2 strong {
	font-size: 12px;
}
